{% extends 'base.html.twig' %}

{% block title %}New Recruiter{% endblock %}

{% block body %}
    <h1>Indiquez vos informations complémentaire</h1>

    {{ include('recruiter/_form.html.twig') }}

    <a href="{{ path('recruiter_index') }}">Retour à la liste</a>
{% endblock %}
