/*Page d'accueil*/
.accueil-titre {
    text-align: center;
    text-justify: auto;
}



/* Page register */

.compte{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
